.ip .ipAdminNavbar
{
    background: #000;
}
body{
    background: url('../img/food.png');
}
.btn-link{
    color:#B08505;
}
.btn-link:hover{
    color:#B08505;
    text-decoration: underline;
}
.container
{
    background: #FCFCF5;
}
h3{
    margin-top:0;
    border-bottom: 2px dotted #B08505;
    color: #B08505;
    padding-bottom: 10px;
    margin-bottom:20px;
}
h5{
    color: #B08505;
}
.logo
{
    display:inline-block;
    padding-left:10px;
    padding-top:8px;
    padding-right: 45px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background:none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
    background:none;
}
.navbar-default .navbar-nav>li>a
{
    font-weight: bold;
}
.navbar-nav>li>.dropdown-menu
{
    background: url('../img/food.png');
    border-color: #FAC564;
}

.navbar-default
{
    background: url('../img/food.png');
}
.navbar-nav a{
    font-size: 14px;
}
.list-group-item{
    padding: 10px;
    border-color: #FAC564;
    font-weight: bold;
}
.list-group-item.active{
    background: url('../img/food.png');
    border-color: #FAC564;
    font-width: bold;
    font-size: 15px;
    padding: 5px;
}
.list-group-item.active:hover{
    border-color: #FAC564;
}
.thumbnail
{
    border-color: #FAE9CA;
    background: none;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.socials {
    color: #fff;
    margin-top: 5px;
    overflow: hidden;
}

.socials .fa {
    background-color: #695005;
    font-size: 25px;
    float: left;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
    text-align: center;
    text-decoration: none;
    color:#fff;
}

.socials .fa:hover {
    color: #fff;
    background-color: #303030;
}

.fa-facebook:before {
    content: "\f09a";
}
.footer
{
    margin-top: 50px;
    padding-top:20px;
    margin-bottom:20px;
    border-top: 2px dotted #B08505;
}